@import './variables.scss';


:root {
  --text-light-primary: #fff;
  --header-height: 93px;
  --raleway-font: 'Raleway', sans-serif; //font primnary
  --philosopher-font: 'Philosopher', sans-serif; //font-secondary
  --bg-primary: #031D2E;
  --bg-secondary: #012233;
  --text-main: #F96A2D;
  --text-sm: 0.875rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  // overflow: overlay;
}

body {
  min-height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
  font-family: var(--raleway-font);
  color: var(--text-light-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1025px) {
  html {
    font-size: 16px;
  }
}

// hidden icon input type number 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: var(text-light-primary);
  text-decoration: none;
  
}
.menu-mobile-navbar {
  background: url('../../public/assets/images/bg_mobile_menu.jpg') no-repeat center center;
  background-size: cover;
}

.banner-wrapper {
  background: url('../../public/assets/images/banner_bg.png') no-repeat center center;
  background-size: cover;
}
.lookup-numerology {
  background: url('../../public/assets/images/zodiac3.png') no-repeat left bottom -100px;
}
.reader-comment-wrapper {
  background: url('../../public/assets/images/reader_comment.png') no-repeat right center;
}
.numerology-info-wrapper {
  background: url('../../public/assets/images/numerology_info_bg.png') no-repeat center center;
  background-size: cover;
  min-height: 1049px;
  margin-top: -80px;
}
.blog-numerology-wrapper {
  height: 800px;
  background: url('../../public/assets/images/bg-blog-numberology.png') no-repeat left center,url('../../public/assets/images/zodiac2.png') no-repeat right 115px ;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// custom swiper: 
.swiper {
  height: 100%;
  overflow: auto;
  border-radius: 5px;
}

.swiper-slide {
  border-radius: 5px;
}
// end swipper 

.teacher-info-wrapper {
  height: 890px;
  background: url('../../public/assets/images/teacher_info_bg.png') no-repeat center center;
  background-size: cover
}
.text-heading {
  font-family: var(--philosopher-font);
  font-size: 32px;
  line-height: '36px';
  font-weight: 700;
}

// Swipper Paginator
.swiper-pagination {
  &-bullet {
    width: 12px !important;
    height: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.29);
    &-active {
      background-color: var(--text-main) !important;
      border-color: var(--text-main);
    }
  }
}
.train-application-wrapper .swiper {
  padding-bottom: 40px;
} 
// End Swipper Paginator

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.grayscale { filter: grayscale(100%); }